<style>
    *{
        background-color: #fdfd96;
        color: black;
        font-family: Arial;
        line-height: 1;
    }
</style>

<h1 style = 'text-align: center'>Rotten Potatoes</h1>
<h2 style = 'text-align: center'><%= @movie.title %></h2>
<p><strong>Data De Lançamento:</strong> <%= Date.parse(@movie.release_date).strftime('%d/%m/%Y') %></p>
<p><strong>Classificação:</strong> <%= @movie.rating %></p>
<p style = 'text-align: justify'><strong>Sinopse:</strong> <%= @movie.description %></p>

<div style= 'text-align: left'><%= link_to "Voltar", movies_path %></div>
<div style= 'text-align: center'><%= link_to "Editar", edit_movie_path %></div>
<div style= 'text-align: right;'><%= link_to "Deletar", movie_path(@movie), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Tem certeza que deseja deletar?"} %></div>